@model JobSearch.Models.Resume

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resume</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CandidateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.skills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.skills)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResumeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
